    {% comment %} Custom modal JS {% endcomment %}
    <script src="{{ site.url }}/assets/js/iziModal.min.js"></script>
    <script> 

              var modal = $('#modal').iziModal({width:900,padding:20,fullscreen: true,title:'&nbsp;',headerColor:'#061539',iconColor:'#88A0B9'});
              $(document).on('click', '.trigger-1', function (event) {
                  event.preventDefault();
                  modal.iziModal('open');
              });
              var modal2 = $('#modal2').iziModal({width:900,padding:20,fullscreen: true,title:'&nbsp;',headerColor:'#061539',iconColor:'#88A0B9'});
              $(document).on('click', '.trigger-2', function (event) {
                  event.preventDefault();
                  modal2.iziModal('open');
              });
              var modal3 = $('#modal3').iziModal({width:900,padding:20,fullscreen: true,title:'&nbsp;',headerColor:'#061539',iconColor:'#88A0B9'});
              $(document).on('click', '.trigger-3', function (event) {
                  event.preventDefault();
                  modal3.iziModal('open');
              });
              var modal4 = $('#modal4').iziModal({width:900,padding:20,fullscreen: true,title:'&nbsp;',headerColor:'#061539',iconColor:'#88A0B9'});
              $(document).on('click', '.trigger-4', function (event) {
                  event.preventDefault();
                  modal4.iziModal('open');
              });
              var modal5 = $('#modal5').iziModal({width:900,padding:20,fullscreen: true,title:'&nbsp;',headerColor:'#061539',iconColor:'#88A0B9'});
              $(document).on('click', '.trigger-5', function (event) {
                  event.preventDefault();
                  modal5.iziModal('open');
              });
              var modal6 = $('#modal6').iziModal({width:900,padding:20,fullscreen: true,title:'&nbsp;',headerColor:'#061539',iconColor:'#88A0B9'});
              $(document).on('click', '.trigger-6', function (event) {
                  event.preventDefault();
                  modal6.iziModal('open');
              });
              var modal7 = $('#modal7').iziModal({width:900,padding:20,fullscreen: true,title:'&nbsp;',headerColor:'#061539',iconColor:'#88A0B9'});
              $(document).on('click', '.trigger-7', function (event) {
                  event.preventDefault();
                  modal7.iziModal('open');
              });
              var modal8 = $('#modal8').iziModal({width:900,padding:20,fullscreen: true,title:'&nbsp;',headerColor:'#061539',iconColor:'#88A0B9'});
              $(document).on('click', '.trigger-8', function (event) {
                  event.preventDefault();
                  modal8.iziModal('open');
              });
   </script>