<header class="site-header">


  <div class="wrapper">

    {% if page.layout != "about" %}
    <span class="site-title">
        
         <a class="page-link" href="{{ site.baseurl | prepend: site.url }}/" > <strong>{{ site.name }} </strong>{{ site.name_last }}</a>
    </span>
    {% endif %}

    <nav class="site-nav">

      <div class="trigger">
        <!-- About -->
        <a class="page-link" href="{{ site.baseurl | prepend: site.url }}/">About</a>

        <!-- Blog -->
        <a class="page-link" href="{{ '/blog/' | prepend: site.baseurl | prepend: site.url }}">Blog</a>

        <!-- Pages -->
        <!-- {% for page in site.pages %}
          {% if page.title and page.url != "/" %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %} -->

        <!-- CV link -->
        <a class="page-link" href="{{ '/assets/pdf/ngaito.pdf' | prepend: site.baseurl | prepend: site.url }}">Resume</a>
        <!-- Econ Project -->
        <a class="page-link" href="{{ '/econ_proj/index.html' | prepend: site.baseurl | prepend: site.url }}">Econ</a>  
      </div>
       
     <div class="menu-btn" id="menu-btn">
  <div></div>
  <span></span>
  <span></span>
  <span></span>
     </div>
 
     <div class="responsive-menu">
        <ul>
           <li class="droplist"><a class="page-links" href="{{ site.baseurl | prepend: site.url }}/">About</a></li>
           <li class="droplist"><a class="page-links" href="{{ '/blog/' | prepend: site.baseurl | prepend: site.url }}">Blog</a></li>
           <li class="droplist"><a class="page-links" href="{{ '/assets/pdf/ngaito.pdf' | prepend: site.baseurl | prepend: site.url }}">Resume</a></li>
        </ul>
     </div>
</div>



         
  
    </nav>

  </div>
</header>

