
@media (max-width:  768px){
	.skills{
		.col{
	 		.trigger{
		 		display: none;
	 		}
	 		
		}
	}
}


.col{
		.toshow{
			display: none;
			background: #ededed;
			font-size: 50px;
		}
		.three{
			font-weight: 500;
		}
	}